.assemblage--content-container {
  .content--data-container {
    display: grid;
    align-self: stretch;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .data--last-item {
    grid-column-start: 1;
    grid-column-end: 4;
  }

}