$breakpoint-lg: 1024px;

.fsecs-table-container {
  overflow: auto;

  @media (max-width: $breakpoint-lg) {
    flex: 1 1 0;
  }

  @media (min-width: $breakpoint-lg + 1) {
    flex: 2 1 0;
  }
}
.fsecs-toolbar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.fsecs-toolbar-container > div {
  flex: 1 1 auto;
}