.photos--content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;

  .content--data-container {
    display: grid;

    &:first-of-type {
      grid-template-columns: 1fr 1fr;
      grid-gap: 2em;

      .data--last-item {
        grid-column-start: 1;
        grid-column-end: 3;

      }
    }
  }
}