.overview--main-container {
    margin-top: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  .overview--left-container {
    display: flex;
    flex-direction: column;

  }
  .overview--right-container {
    display: flex;
    flex-direction: column;

    .overview--card-content {
      .MuiBox-root {
        padding: 1.5em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        span {
          padding: 0 1em;
          display: flex;
          
        }
      }
    }
  }
}
