.metrologie--content-container {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr 1fr 1fr;

  .content--data-container {
    display: grid;
    grid-gap: 2em;

    &:last-of-type {
      grid-template-columns: 1fr 1fr;

      .data--full-item {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }

  }
}