.fsec--assemblage-container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  & > div {
    & > div {
      padding-bottom: 16px;
    }
  }
  .assembly--step-button{
    margin: 2em 0;
  }
}